ClassLibraryBrowser/External/SystemDescription.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="SystemDescription"
    targetNamespace="http://schemas.ironsmalltalk.org/version1.0/Tools/SystemDescription.xsd"
    elementFormDefault="qualified"
    xmlns="http://schemas.ironsmalltalk.org/version1.0/Tools/SystemDescription.xsd"
    xmlns:sd="http://schemas.ironsmalltalk.org/version1.0/Tools/SystemDescription.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:simpleType name="HtmlString">
    <xs:restriction base="xs:string"></xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SourceCode">
    <xs:restriction base="xs:string"></xs:restriction>
  </xs:simpleType>
  <xs:element name="SystemDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Protocol" minOccurs="0" maxOccurs="unbounded" >
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ConformsTo" minOccurs="1" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:attribute name="protocol" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="Description" minOccurs="0" maxOccurs="1" type="HtmlString" />
              <xs:element name="StandardGlobal" minOccurs="0" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:sequence minOccurs="1" maxOccurs="1">
                    <xs:element name="Description" minOccurs="0" maxOccurs="1" nillable="true" type="HtmlString" />
                    <xs:choice minOccurs="0" maxOccurs="1">
                      <xs:element name="Global" minOccurs="0" maxOccurs="1" nillable="true">
                        <xs:complexType />
                      </xs:element>
                      <xs:element name="Constant" minOccurs="0" maxOccurs="1" nillable="true">
                        <xs:complexType />
                      </xs:element>
                      <xs:element name="Pool" minOccurs="0" maxOccurs="1" nillable="true">
                        <xs:complexType>
                          <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="Constant">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Initializer" minOccurs="0" maxOccurs="1" nillable="true" type="SourceCode" />
                                </xs:sequence>
                                <xs:attribute name="name" type="xs:string" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="Variable">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Initializer" minOccurs="0" maxOccurs="1" nillable="true" type="SourceCode" />
                                </xs:sequence>
                                <xs:attribute name="name" type="xs:string" />
                              </xs:complexType>
                            </xs:element>
                          </xs:choice>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="Class" minOccurs="0" maxOccurs="1" nillable="true">
                        <xs:complexType>
                          <xs:choice minOccurs="0" maxOccurs="unbounded">
                            <xs:element name="InstanceVariable">
                              <xs:complexType>
                                <xs:attribute name="name" type="xs:string" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="ClassVariable">
                              <xs:complexType>
                                <xs:attribute name="name" type="xs:string" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="ClassInstanceVariable">
                              <xs:complexType>
                                <xs:attribute name="name" type="xs:string" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="ImportedPool">
                              <xs:complexType>
                                <xs:attribute name="name" type="xs:string" />
                              </xs:complexType>
                            </xs:element>
                          </xs:choice>
                          <xs:attribute name="superclass" type="xs:string" use="optional" />
                          <xs:attribute name="instaneState" use="optional" >
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="byte" />
                                <xs:enumeration value="none" />
                                <xs:enumeration value="object" />
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute >
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                    <xs:element name="Initializer" minOccurs="0" maxOccurs="1" nillable="true" type="SourceCode" />
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="Message" minOccurs="0" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Synopsis" minOccurs="1" maxOccurs="1" type="HtmlString" />
                    <xs:element name="Definition" minOccurs="0" maxOccurs="1" >
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="protocol" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Refinement" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="protocol" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Parameter" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Protocol" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="aliasing" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="unspecified"/>
                              <xs:enumeration value="captured"/>
                              <xs:enumeration value="uncaptured"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ReturnValue" minOccurs="0" maxOccurs="1" >
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Protocol" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Description" minOccurs="0" maxOccurs="1" type="HtmlString" />
                        </xs:sequence>
                        <xs:attribute name="aliasing" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="unspecified"/>
                              <xs:enumeration value="state"/>
                              <xs:enumeration value="new"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Errors" minOccurs="0" maxOccurs="1" type="HtmlString" />
                    <xs:element name="Source" minOccurs="0" maxOccurs="1" type="SourceCode" />
                  </xs:sequence>
                  <xs:attribute name="selector" type="xs:string" use="required" />
                  <xs:attribute name="docId" type="xs:string" use="optional" />
                  <xs:attribute name="refined" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="docId" type="xs:string" use="optional"  />
            <xs:attribute name="abstract" type="xs:boolean" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>